# --- General ---
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# --- Frontend Specifics ---
# Flutter/Dart/Pub related
frontend/doc/api/
frontend/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/coverage/

# Symbolication related
frontend/app.*.symbols

# Obfuscation related
frontend/app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# For Agents 
.agents/
skills-lock.json
*/TASKS.md
